   /* *{
    box-sizing: border-box;
   } */
   
   body{
        font-size: 15px;
        font-family:League Spartan;
        text-align: center;
        font-weight: 400;
        background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
        background-position: top left ,bottom right;
        background-repeat: no-repeat ,no-repeat;
        background-size: 100% ,100%;
        background-color:hsl(0, 0%, 100%);
        color:hsl(0, 0%, 100%) ;
      
    }
    
    
    footer
     {
        font-size: 11px;
        text-align: center;
     
      }
    
      footer a {
        color: hsl(228, 45%, 44%);
      }
    
     
    
      h1{
        color:hsl(300, 43%, 22%) ;
        font-size: xx-large;
        font-weight: 700;
        
      }
      
      header h1+p{
        color: hsl(303, 10%, 53%);
        font-size:medium;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 30px;
      
       
      
      }

    .stars img{
      margin-top: 15px;
      width: 13px;
    }
    
    .Rating{
      margin: 10px 30px;
      min-height: 60px;
      background-color:hsl(300, 24%, 96%) ;
      color:hsl(300, 43%, 22%) ;
      font-size: small;
      font-weight: 700;
      border-radius: 7px;
    
    }
    
    .Rating p{
      margin-top:5px ;
      padding: 0px;
    } 


    .Buyer{
      background-color:hsl(300, 43%, 22%) ;
      border-radius: 5px;
      color:hsl(0, 0%, 100%) ;
      margin: 10px 30px;
      padding: 35px 35px 20px 35px;
      line-height: 120%;
    }

    .container img{
      width: 35px;
      height: 35px;
      border-radius: 50%;

    }

    .container p{
      margin-left: 15px;
      margin-top: 3px;
      font-size: small;
      font-weight: 700;
     
    }

    .container p span{
      color:  hsl(300, 52%, 56%) ;
      font-size: small;
      font-weight: 400;
      margin-top: 20px;
   
    }


    .container{
      display: flex;
    }


    article{
      text-align: left;
      font-size: small;
      font-weight: 500;
      margin: 5px 10px;
    }

    


    
   